{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_form_submit %}
    {% set credova = page.extensions.credova_payment ?? null %}

    {% if credova and credova.errors is defined and credova.errors|length > 0 %}
        <div class="credova-error-box">
            <strong>We found issues with your billing information:</strong>
            <p> Please review the validation message above to proceed with your order </p>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
