<sw-card style="margin-top: 40px;" :title="$tc('sw-settings-credova.card.salesChannelSettings')">
	<sw-sales-channel-switch ref="salesChannelSwitch" :sales-channel-id="salesChannelId" :label="$tc('sw-settings-credova.label.salesChannelSelect')" @change-sales-channel-id="onSalesChannelChanged"/>
</sw-card>

<sw-card :title="$tc('sw-settings-credova.label.title')">
	<div>
		<div class="sw-settings-credova-form__label">
			{{ $tc('sw-settings-credova.label.minFinanceAmount') }}
			<sw-help-text :text="$tc('sw-settings-credova.help.minFinanceAmount')"/>
		</div>
		<sw-number-field v-model:value="config['Credova.config.minFinanceAmount']" step="1"/>
	</div>
	<div>
		<div class="sw-settings-credova-form__label">
			{{ $tc('sw-settings-credova.label.maxFinanceAmount') }}
			<sw-help-text :text="$tc('sw-settings-credova.help.maxFinanceAmount')"/>
		</div>
		<sw-number-field v-model:value="config['Credova.config.maxFinanceAmount']" step="1"/>
	</div>

	<sw-single-select v-model:value="config['Credova.config.checkoutFlow']" :options="checkoutFlowOptions" placeholder="Select Flow Type" :label="$tc('sw-settings-credova.label.checkoutFlow')"/>

	<sw-single-select v-model:value="config['Credova.config.popupType']" :options="popupTypeOptions" placeholder="Select Popup Type" :label="$tc('sw-settings-credova.label.popupType')"/>

	<sw-text-field v-model:value="config['Credova.config.dataMessage']" :label="$tc('sw-settings-credova.card.customText')" :placeholder="$tc('sw-settings-credova.card.customText')"/>
	<sw-switch-field
			v-model:value="config['Credova.config.showCredovaLogo']"
			:label="$tc('sw-settings-credova.label.showCredovaLogo')"
			:disabled="isCustomTextFilled"
			:help-text="$tc('sw-settings-credova.help.logoForcedByCustomText')"
	/>
</sw-card>
